<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="32000">
    <setting label="32010"  type="ipaddress"  id="tvhurl"  default="127.0.0.1"/>
    <setting label="32020"  type="number"  id="tvhport"  default="9981"/>
    <setting label="32030"  type="folder"  id="dvrstorage"  default="" option="writeable"/>
  </category>
</settings>
