<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="32000">
    <setting label="32001" type="lsep"/>
    <setting type="sep"/>
    <setting label="32010"  type="ipaddress"  id="tvhurl"  default="127.0.0.1"/>
    <setting label="32020"  type="number"  id="tvhport"  default="9981"/>
    <setting label="32022"  type="text" id="usern" default=""/>
    <setting label="32023"  type="text" id="passw"  default="" option="hidden"/>
    <setting label="" type="lsep"/>
    <setting label="32025" type="lsep"/>
    <setting type="sep"/>
    <setting label="32030"  type="folder"  id="dvrstorage"  default="" option="writeable"/>
    <setting label="32035"  type="folder"  id="timestorage"  default="" option="writeable"/>
  </category>
  <category label="32100">
    <setting label="32130" type="enum" id="psource" lvalues="32131|32132|32133|32134|32135|32138" default="0"/>
    <setting label="32139" type="text" id="purl" defaut="https://www.dropbox.com/s/vxuatbj95iutsby/tv_channel_icons_pack.zip?dl=0" subsetting="true" visible="eq(-1,5)"/>
    <setting label="32140"  type="folder"  id="pdest"  default="" option="writeable"/>
  </category>
</settings>
